[Unit]
Description=JasnePismo OCR Worker
After=network.target

[Service]
Type=simple
Environment=NODE_ENV=production
Environment=REDIS_URL=%REDIS_URL%
WorkingDirectory=/srv/jasnepismo
ExecStart=/usr/bin/node /srv/jasnepismo/worker/ocr-worker.js
Restart=always
User=node

[Install]
WantedBy=multi-user.target
